.cartproduct{
    width:110px;
    height:110px;
    float:left;
}
table {
    width: 100%;
    font-size: 18px;
  }
  
  th {
    height: 50px;
  }
.qty{
    width: 30px;
    text-align: center;
    margin: 2px;
}